Question 1

In [16]:

#question 1
print("hello")

listfruits= ["apple","orange","banana"]
print(listfruits)
listfruits.append("tomato")
print(listfruits)
listfruits.remove("apple")
print(listfruits)

hello
['apple', 'orange', 'banana']
['apple', 'orange', 'banana', 'tomato']
['orange', 'banana', 'tomato']

Question 2

In [17]:
subjects= ("Physics","Chemistry","English","Math","Biology")
print(subjects)

tuplelist= list(subjects)
print(tuplelist)

tuplelist.append("literature")
print(tuplelist)

new_tuple= tuple(tuplelist)
print(new_tuple)

lenght_of_tuplelist= len(tuplelist)
print(lenght_of_tuplelist)

('Physics', 'Chemistry', 'English', 'Math', 'Biology')
['Physics', 'Chemistry', 'English', 'Math', 'Biology']
['Physics', 'Chemistry', 'English', 'Math', 'Biology', 'literature']
('Physics', 'Chemistry', 'English', 'Math', 'Biology', 'literature')
6

Question 3

In [18]:
students_id= [10,6,7,8,9,3]
print(students_id)

sorted_students_id= sorted(students_id)
print(sorted_students_id)

sorted_students_id.clear()
print(sorted_students_id)

[10, 6, 7, 8, 9, 3]
[3, 6, 7, 8, 9, 10]
[]

Question 4

In [19]:
desc_list= list(range(15,0,-3))
print(desc_list)

[15, 12, 9, 6, 3]

Question 5

In [28]:
for i in range(1,15):
    asc_list.append(2 * i)
print(asc_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

Question 6

In [29]:
combined_list= desc_list + asc_list
print(combined_list)

even_numbers=[num for num in combined_list if num % 2 == 0]
odd_numbers =[num for num in combined_list if num% 2 != 0]
print(even_numbers)
print(odd_numbers)

[15, 12, 9, 6, 3, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]
[12, 6, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]
[15, 9, 3]

Question 7

In [22]:
def circle(radius):
    circumference = 2 * 3.1415 * radius
    area = 3.1415 * radius *radius
    return circumference, area
  
result = circle(10)
print(result)

(62.830000000000005, 314.15000000000003)

Question 8

In [23]:
def is_palindrome(word):
    word = word.lower().replace(" ", "")
    return word == word[::-1]

print (is_palindrome("deified"))
print(is_palindrome("name"))

True
False

Question 9

In [24]:
student_grades = {
    "Alice": 85,
    "Bob": 90,
    "Charlie": 78
}
print(student_grades)

student_grades['David']="92"
print(student_grades)

student_grades['Alice']="88"
print(student_grades)

{'Alice': 85, 'Bob': 90, 'Charlie': 78}
{'Alice': 85, 'Bob': 90, 'Charlie': 78, 'David': '92'}
{'Alice': '88', 'Bob': 90, 'Charlie': 78, 'David': '92'}

Question 10

In [25]:
fruit_list= ["apple", "banana", "apple", "orange", "banana", "apple"]
fruit_count={}

for fruit in fruit_list:
    if fruit in fruit_count:
        fruit_count[fruit]   +=1
    else:
        fruit_count[fruit]= 1

print(fruit_count)

{'apple': 3, 'banana': 2, 'orange': 1}